In [1]:
import pandas as pd
import numpy as np

In [2]:
INPUT_PATH = '../input/'
OUTPUT_PATH = '../output/'

users = pd.read_csv(INPUT_PATH + 't_user.csv')
orders = pd.read_csv(INPUT_PATH + 't_order.csv')
loans = pd.read_csv(INPUT_PATH + 't_loan.csv')
loans_sum = pd.read_csv(INPUT_PATH + 't_loan_sum.csv')
clicks = pd.read_csv(INPUT_PATH + 't_click.csv')

loans.loan_amount = 5**loans.loan_amount
loans_sum.loan_sum  = 5 ** loans_sum.loan_sum

In [6]:
orders.cate_id.describe()

count    5.400778e+06
mean     1.983671e+01
std      1.415965e+01
min      1.000000e+00
25%      9.000000e+00
50%      2.100000e+01
75%      3.300000e+01
max      4.400000e+01
Name: cate_id, dtype: float64

In [8]:
    orders['Date'] = pd.to_datetime(orders['buy_time'], errors='coerce')
    orders['transaction_month'] = orders['Date'].dt.month
    orders["comsume_count"] = 1
    orders["consume_amount"] = orders["price"] * orders["qty"] - orders["discount"]

In [10]:
orders.groupby(by=["uid", "transaction_month", "cate_id"], as_index=False).sum()

,uid,transaction_month,cate_id,price,qty,discount,comsume_count,consume_amount
0,1,8,11,4.043950,4,0.000000,2,8.087899
1,1,8,15,20.667179,10,1.891668,10,18.775511
2,1,8,22,73.158573,22,18.936605,21,56.723060
3,1,8,40,3.292030,1,2.926196,1,0.365834
4,1,9,15,16.640113,7,2.698958,7,13.941155
5,1,9,35,37.417427,19,7.532278,13,42.761238
6,1,10,1,13.149337,12,6.149362,4,33.261088
7,1,10,15,1.358270,13,0.000000,1,17.657510
8,1,10,19,3.974636,1,2.533516,1,1.441119
9,1,10,25,3.256881,2,2.867536,1,3.646225
10,1,11,11,3.292030,1,2.442981,1,0.849049
11,1,11,15,2.914898,1,0.000000,1,2.914898
12,1,11,20,10.039006,5,6.536894,4,5.910008
13,1,11,22,2.501092,2,0.000000,1,5.002183
14,1,11,36,2.974636,2,2.554230,1,3.395042
15,2,8,2,5.048922,1,4.991593,1,0.057330
16,2,8,3,9.472811,6,4.491791,3,14.453830
17,2,8,18,7.517559,2,6.991068,2,0.526490
18,2,8,21,7.947199,2,3.898729,2,4.048470
19,2,9,33,11.599571,7,1.489896,5,14.693735
20,2,9,36,3.402718,1,2.867536,1,0.535183
21,2,10,11,3.721151,1,3.546027,1,0.175124
22,2,10,23,3.912614,1,0.000000,1,3.912614
23,2,10,33,7.795670,4,1.948192,4,5.847478
24,2,10,36,2.855108,1,0.000000,1,2.855108
25,2,10,44,4.222416,2,0.000000,2,4.222416
26,2,11,3,4.361890,3,4.623552,1,8.462117
27,2,11,11,3.292030,1,0.000000,1,3.292030
28,2,11,36,3.223104,1,2.639739,1,0.583366
29,3,8,2,8.992635,3,3.117411,3,5.875224
...,...,...,...,...,...,...,...,...
1232287,90991,9,26,3.861353,1,0.000000,1,3.861353
1232288,90991,11,33,5.070415,1,0.000000,1,5.070415
1232289,90992,8,1,15.092632,8,10.601393,8,4.491239
1232290,90992,8,10,3.721151,1,0.000000,1,3.721151
1232291,90992,8,11,23.124114,6,0.000000,6,23.124114
1232292,90992,8,12,17.317261,6,2.714891,6,14.602371
1232293,90992,8,33,18.620170,5,0.000000,5,18.620170
1232294,90992,8,44,18.021918,12,7.883808,8,16.661304
1232295,90992,10,10,2.861353,1,2.648552,1,0.212801
1232296,90992,10,11,3.522895,1,1.891668,1,1.631227
1232297,90992,10,19,3.861353,1,3.295129,1,0.566225
1232298,90992,10,26,6.158981,3,0.000000,3,6.158981
1232299,90992,10,33,2.760374,1,1.113283,1,1.647092
1232300,90992,10,36,2.861353,1,2.365212,1,0.496141
1232301,90993,8,1,46.507273,36,36.664091,24,32.413296
1232302,90993,8,12,2.861353,2,0.000000,1,5.722706
1232303,90993,8,22,41.487636,13,19.015761,13,22.471875
1232304,90993,8,33,9.901234,3,0.000000,3,9.901234
1232305,90993,8,36,6.584059,2,2.442981,2,4.141079
1232306,90993,8,44,21.549955,9,12.540318,9,9.009637
1232307,90993,9,22,4.850573,2,3.804119,2,1.046455
1232308,90993,10,1,34.993418,24,15.768328,16,36.003318
1232309,90993,10,33,2.861353,1,2.153383,1,0.707970
1232310,90993,10,40,6.219902,2,2.979792,2,3.240110
1232311,90993,11,1,1.579186,1,0.000000,1,1.579186
1232312,90993,11,11,3.543959,1,3.288915,1,0.255044
1232313,90993,11,12,11.931577,3,10.670202,3,1.261375
1232314,90993,11,20,4.369396,2,2.000000,2,2.369396
1232315,90993,11,22,4.931768,2,2.974636,2,1.957132
1232316,90993,11,26,25.802281,9,0.000000,9,25.802281