In [1]:
import pandas as pd
import numpy as np

In [49]:
INPUT_PATH = '../input/'
OUTPUT_PATH = '../output/'

users = pd.read_csv(INPUT_PATH + 't_user.csv')
orders = pd.read_csv(INPUT_PATH + 't_order.csv')
loans = pd.read_csv(INPUT_PATH + 't_loan.csv')
loans_sum = pd.read_csv(INPUT_PATH + 't_loan_sum.csv')
clicks = pd.read_csv(INPUT_PATH + 't_click.csv')

loans.loan_amount = 5**loans.loan_amount
loans_sum.loan_sum  = 5 ** loans_sum.loan_sum

In [75]:
#watch 34939
uids = ['4']
print(clicks.loc[clicks['uid'].isin(uids)])

          uid           click_time  pid  param                Date  \
140128      4  2016-11-23 16:03:43   10     16 2016-11-23 16:03:43
153789      4  2016-08-29 00:49:49    9      1 2016-08-29 00:49:49
168961      4  2016-08-03 15:25:32    9      2 2016-08-03 15:25:32
168962      4  2016-08-03 16:25:20    6      5 2016-08-03 16:25:20
168963      4  2016-08-03 15:25:37    9      1 2016-08-03 15:25:37
168964      4  2016-08-03 15:25:30    9      1 2016-08-03 15:25:30
168965      4  2016-08-03 15:26:01    9      3 2016-08-03 15:26:01
168966      4  2016-08-03 15:26:33    8      1 2016-08-03 15:26:33
168967      4  2016-08-03 15:27:38   10     16 2016-08-03 15:27:38
168968      4  2016-08-03 15:27:55   10     16 2016-08-03 15:27:55
168969      4  2016-08-03 15:26:29    8      1 2016-08-03 15:26:29
168970      4  2016-08-03 15:25:35    9      4 2016-08-03 15:25:35
291464      4  2016-08-08 17:45:15    8      1 2016-08-08 17:45:15
291465      4  2016-08-08 17:45:28   10     16 2016-08-08 17:45:28
476153      4  2016-09-24 10:22:34    9      3 2016-09-24 10:22:34
520360      4  2016-09-06 12:20:48   10     16 2016-09-06 12:20:48
579640      4  2016-10-22 19:12:52   10     16 2016-10-22 19:12:52
617220      4  2016-08-27 01:05:46   10     16 2016-08-27 01:05:46
836144      4  2016-09-24 10:29:00   10     16 2016-09-24 10:29:00
839757      4  2016-09-24 10:22:15    9      1 2016-09-24 10:22:15
848433      4  2016-10-14 01:47:15    8      1 2016-10-14 01:47:15
917851      4  2016-10-14 01:39:53   10     16 2016-10-14 01:39:53
917866      4  2016-10-14 01:47:10    8      1 2016-10-14 01:47:10
985809      4  2016-11-23 16:06:02    8      1 2016-11-23 16:06:02
1081203     4  2016-10-04 15:11:34   10     16 2016-10-04 15:11:34
1081224     4  2016-10-04 15:14:44    8      1 2016-10-04 15:14:44
1081225     4  2016-10-04 15:14:48    8      1 2016-10-04 15:14:48
1083932     4  2016-11-12 15:50:54    8      1 2016-11-12 15:50:54
1083954     4  2016-11-12 15:53:38   10     28 2016-11-12 15:53:38
1175434     4  2016-10-18 03:40:07    1     19 2016-10-18 03:40:07
...       ...                  ...  ...    ...                 ...
8782130     4  2016-09-25 14:19:15    8      1 2016-09-25 14:19:15
8782131     4  2016-09-25 14:19:19    8      1 2016-09-25 14:19:19
8802650     4  2016-08-23 21:09:53   10     16 2016-08-23 21:09:53
8802662     4  2016-08-23 21:11:41   10     28 2016-08-23 21:11:41
8823335     4  2016-09-20 00:40:33   10     30 2016-09-20 00:40:33
8843130     4  2016-10-18 03:39:51    1     45 2016-10-18 03:39:51
9028417     4  2016-09-03 13:54:00   10     16 2016-09-03 13:54:00
9137577     4  2016-08-29 00:49:30   10     16 2016-08-29 00:49:30
9161667     4  2016-08-30 16:51:12    3     10 2016-08-30 16:51:12
9196249     4  2016-09-02 17:02:24   10     28 2016-09-02 17:02:24
9299912     4  2016-11-09 14:31:53   10     16 2016-11-09 14:31:53
9299913     4  2016-11-09 14:32:20   10     16 2016-11-09 14:32:20
9324255     4  2016-11-30 02:21:50    7      4 2016-11-30 02:21:50
9415428     4  2016-10-07 13:53:06   10     16 2016-10-07 13:53:06
9561242     4  2016-08-30 16:51:57   10     16 2016-08-30 16:51:57
9633992     4  2016-08-23 10:02:09   10     16 2016-08-23 10:02:09
9843766     4  2016-08-18 15:56:41   10     16 2016-08-18 15:56:41
9843768     4  2016-08-18 15:58:29    8      1 2016-08-18 15:58:29
9850613     4  2016-08-18 15:58:33    8      1 2016-08-18 15:58:33
9850615     4  2016-08-18 15:58:57    2      4 2016-08-18 15:58:57
9941464     4  2016-09-24 10:23:00   10     28 2016-09-24 10:23:00
10138268    4  2016-11-30 02:20:37   10     16 2016-11-30 02:20:37
10145831    4  2016-09-09 13:28:36   10     16 2016-09-09 13:28:36
10343247    4  2016-11-12 15:51:33   10     16 2016-11-12 15:51:33
10391524    4  2016-10-22 19:12:24   10     16 2016-10-22 19:12:24
10542368    4  2016-11-23 16:06:41    7     15 2016-11-23 16:06:41
10542381    4  2016-11-23 16:09:45    5     10 2016-11-23 16:09:45
10542382    4  2016-11-23 16:10:21    5     13 2016-11-23 16:10:21
10543381    4  2016-11-23 16:07:10    7      4 2016-11-23 16:07:10
10637193    4  2016-10-31 11:52:11    1     27 2016-10-31 11:52:11

          transaction_month
140128                   11
153789                    8
168961                    8
168962                    8
168963                    8
168964                    8
168965                    8
168966                    8
168967                    8
168968                    8
168969                    8
168970                    8
291464                    8
291465                    8
476153                    9
520360                    9
579640                   10
617220                    8
836144                    9
839757                    9
848433                   10
917851                   10
917866                   10
985809                   11
1081203                  10
1081224                  10
1081225                  10
1083932                  11
1083954                  11
1175434                  10
...                     ...
8782130                   9
8782131                   9
8802650                   8
8802662                   8
8823335                   9
8843130                  10
9028417                   9
9137577                   8
9161667                   8
9196249                   9
9299912                  11
9299913                  11
9324255                  11
9415428                  10
9561242                   8
9633992                   8
9843766                   8
9843768                   8
9850613                   8
9850615                   8
9941464                   9
10138268                 11
10145831                  9
10343247                 11
10391524                 10
10542368                 11
10542381                 11
10542382                 11
10543381                 11
10637193                 10

[162 rows x 6 columns]

In [76]:
print(orders.loc[orders['uid'].isin(uids)])

         uid    buy_time     price  qty  cate_id  discount
37202      4  2016-08-26  3.520749    1        3  3.321160
614023     4  2016-10-04  2.861353    1       13  0.000000
643192     4  2016-09-13  5.338581    1       33  0.000000
695501     4  2016-10-04  2.665812    1       13  0.000000
791687     4  2016-09-13  2.855108    1       33  0.000000
966981     4  2016-08-27  2.974636    1       22  2.393552
1144396    4  2016-08-13  3.478495    1       22  2.133656
1324907    4  2016-08-13  1.358270    1       15  0.000000
1645012    4  2016-09-13  2.855108    1       33  0.000000
2671252    4  2016-11-28  2.866304    1       26  0.000000
3124949    4  2016-09-20  2.436859    1       26  0.000000
3971568    4  2016-10-04  3.949272    1       13  0.000000
4237477    4  2016-09-13  2.855108    1       33  0.000000
4947185    4  2016-09-12  3.256881    1       38  1.891668
5097317    4  2016-08-13  3.430677    1       22  2.730425
5226430    4  2016-08-13  4.781926    1       22  3.902229
5277416    4  2016-09-28  2.436859    1       26  0.000000

In [77]:

print(loans.loc[loans['uid'].isin(uids)].sort_values('loan_time', ascending=False))

        uid            loan_time  loan_amount  plannum                Date  \
167918    4  2016-11-27 14:10:18       2001.0        3 2016-11-27 14:10:18
160681    4  2016-10-29 17:52:58      12001.0       12 2016-10-29 17:52:58
190411    4  2016-10-14 19:09:13       4001.0        1 2016-10-14 19:09:13
70516     4  2016-08-12 21:51:25       4001.0        1 2016-08-12 21:51:25
34423     4  2016-08-05 08:11:38       5001.0        1 2016-08-05 08:11:38

        transaction_month
167918                 11
160681                 10
190411                 10
70516                   8
34423                   8

In [78]:
print(loans_sum.loc[loans_sum['uid'].isin(uids)])

      uid    month  loan_sum
4862    4  2016-11    2001.0

In [79]:
print(users.loc[users['uid'].isin(uids)])

       uid  age  sex active_date     limit
78039    4   30    1  2016-03-26  5.292154

In [64]:
loans['Date'] = pd.to_datetime(loans['loan_time'], errors='coerce')
loans['transaction_month'] = loans['Date'].dt.month

In [85]:
loan_of_nov = loans.loc[loans.transaction_month==11].groupby(by='uid', as_index=False).sum()

loan_of_nov.merge(loans_sum, how='left', on='uid')

# comp = loan_of_nov.merge(loans_sum, how='left', on='uid')
    # Compute smoothing

         uid   loan_amount  plannum  transaction_month    month      loan_sum
0          4   2001.000000        3                 11  2016-11   2001.000000
1          5  40000.999999       12                 11  2016-11  40000.999999
2          6  24000.999998        6                 11  2016-11  24000.999998
3         17   9001.000000       12                 11  2016-11   9001.000000
4         19  13000.999999       12                 11  2016-11  13000.999999
5         23    501.000000        1                 11  2016-11    501.000000
6         39   6607.000000       84                 77  2016-11   6601.000000
7         43   5001.000000        1                 11  2016-11   5001.000000
8         45  25003.000001        3                 33  2016-11  25000.999999
9         56  50001.000003        1                 11  2016-11  50001.000003
10        57  10001.000000        1                 11  2016-11  10001.000000
11        60   5001.000000        6                 11  2016-11   5001.000000
12        61   3001.000000        1                 11  2016-11   3001.000000
13        64    501.000000       12                 11  2016-11    501.000000
14        68  11002.000000       18                 22  2016-11  11001.000001
15        70  20000.999999        6                 11  2016-11  20000.999999
16        71   1001.000000        6                 11  2016-11   1001.000000
17        72   2602.000000       24                 22  2016-11   2601.000000
18        73   5505.000000       60                 55  2016-11   5501.000000
19        79    501.000000        1                 11  2016-11    501.000000
20        80   5001.000000        3                 11  2016-11   5001.000000
21        81   9001.000000        1                 11  2016-11   9001.000000
22        87  14005.000000       12                 55  2016-11  14001.000000
23        89   4603.000000       36                 33  2016-11   4601.000000
24        92   3002.000000        7                 22  2016-11   3001.000000
25       100  25000.999999        1                 11  2016-11  25000.999999
26       104   4001.000000        1                 11  2016-11   4001.000000
27       109   7001.000000        1                 11      NaN           NaN
28       115  26001.000000        1                 11  2016-11  26001.000000
29       116  52005.000001       20                 55  2016-11  51000.999996
...      ...           ...      ...                ...      ...           ...
19490  90833  49233.000000       33                363  2016-11  47000.999998
19491  90836   3001.000000        1                 11  2016-11   3001.000000
19492  90846   5903.000000        3                 33  2016-11   5901.000000
19493  90847  20002.000001        2                 22  2016-11  20000.999999
19494  90852   2203.000000        3                 33  2016-11   2201.000000
19495  90853  19000.999999       12                 11  2016-11  19000.999999
19496  90856  21001.000000        1                 11  2016-11  21001.000000
19497  90862  22001.000002        6                 11  2016-11  22001.000002
19498  90865   6001.000000        1                 11  2016-11   6001.000000
19499  90876  77015.000001       15                165  2016-11  50001.000003
19500  90886  10001.000000        1                 11  2016-11  10001.000000
19501  90892   5001.000000        6                 11  2016-11   5001.000000
19502  90893  33002.000002        2                 22  2016-11  33001.000002
19503  90903  44007.000001        7                 77  2016-11  44001.000003
19504  90905  16000.999999        6                 11  2016-11  16000.999999
19505  90908  26001.999998        2                 22  2016-11  26001.000000
19506  90910  10001.000000        1                 11  2016-11  10001.000000
19507  90916  13002.000001        2                 22  2016-11  13000.999999
19508  90918  10002.000000        2                 22  2016-11  10001.000000
19509  90930    501.000000        6                 11  2016-11    501.000000
19510  90933    501.000000        1                 11  2016-11    501.000000
19511  90942  24511.000000       18                121  2016-11  24501.000001
19512  90950   1001.000000        3                 11  2016-11   1001.000000
19513  90956  50001.000003        1                 11  2016-11  50001.000003
19514  90969  10001.000000        1                 11  2016-11  10001.000000
19515  90971   6002.000000        4                 22  2016-11   6001.000000
19516  90972   3001.000000       12                 11  2016-11   3001.000000
19517  90989  14001.000000        6                 11  2016-11  14001.000000
19518  90990  25010.999999       77                121  2016-11  25000.999999
19519  90991  86002.000007        2                 22  2016-11  86000.999996

[19520 rows x 6 columns]