In [50]:
import pandas as pd
import numpy as np

In [51]:
INPUT_PATH = '../input/'
OUTPUT_PATH = '../output/'

# users = pd.read_csv(INPUT_PATH + 't_user.csv')
# orders = pd.read_csv(INPUT_PATH + 't_order.csv')
# loans = pd.read_csv(INPUT_PATH + 't_loan.csv')
# loans_sum = pd.read_csv(INPUT_PATH + 't_loan_sum.csv')
# clicks = pd.read_csv(INPUT_PATH + 't_click.csv')

# loans.loan_amount = 5**loans.loan_amount
# loans_sum.loan_sum  = 5 ** loans_sum.loan_sum

In [63]:
def load_data() :

	users = pd.read_csv(INPUT_PATH + 't_user.csv')
	orders = pd.read_csv(INPUT_PATH + 't_order.csv')
	loans = pd.read_csv(INPUT_PATH + 't_loan.csv')
	loans_sum = pd.read_csv(INPUT_PATH + 't_loan_sum.csv')
	clicks = pd.read_csv(INPUT_PATH + 't_click.csv')

	# origin price
	loans.loan_amount = 5**loans.loan_amount
	loans_sum.loan_sum  = 5 ** loans_sum.loan_sum
	orders.price = 5 ** orders.price
	orders.discount = 5 ** orders.discount 
	users.limit = 5 ** users.limit

	#loans	 
	#data to month
	loans['Date'] = pd.to_datetime(loans['loan_time'], errors='coerce')
	loans['transaction_month'] = loans['Date'].dt.month
	#fill nan with 0
	loans["loan_count"] = 1
	loans.loan_amount = loans.loan_amount.fillna(0)

	loans_new = loans.groupby(by=["uid","transaction_month"], as_index=False)["loan_amount","loan_count"].sum()
	loans_new = loans_new.pivot_table(['loan_amount',"loan_count"], ['uid'], 'transaction_month', fill_value=0)
	loans_new.reset_index( drop=False, inplace=True )
	loans_new.columns = ['{}_{}'.format(i[1], i[0]) for i in loans_new.columns]
	loans_new = loans_new.rename(index=str, columns={"_uid": "uid"})


	#orders
	orders['Date'] = pd.to_datetime(orders['buy_time'], errors='coerce')
	orders['transaction_month'] = orders['Date'].dt.month
	orders["comsume_count"] = 1

	orders["consume_amount"] = orders["price"]*orders["qty"]-orders["discount"]
	orders.consume_amount = orders.consume_amount.fillna(0)

	orders_new = orders.groupby(by=["uid","transaction_month"], as_index=False)["consume_amount","comsume_count"].sum()
	orders_new = orders_new.pivot_table(['consume_amount',"comsume_count"], ['uid'], 'transaction_month', fill_value=0)
	orders_new.reset_index( drop=False, inplace=True )
	orders_new.columns = ['{}_{}'.format(i[1], i[0]) for i in orders_new.columns]
	orders_new = orders_new.rename(index=str, columns={"_uid": "uid"})

	clicks['Date'] = pd.to_datetime(clicks['click_time'], errors='coerce')
	clicks['transaction_month'] = clicks['Date'].dt.month
	clicks["click_count"] = 1
	clicks_new = clicks.groupby(by=["uid","transaction_month"], as_index=False)["click_count"].sum()
	clicks_new = clicks_new.pivot_table('click_count', ['uid'], 'transaction_month', fill_value=0)
	clicks_new.reset_index( drop=False, inplace=True )
	clicks_new = clicks_new.rename(index=str, columns={8: "click_count_8", 9: "click_count_9", 10 : "click_count_10", 11 : "click_count_11"})

	return users, orders_new, loans_new, loans_sum, clicks_new

In [64]:
users, orders, loans, loan_sum, clicks = load_data()

In [68]:
users_orders = users.merge(orders ,how='left', on="uid")
users_orders_loans = users_orders.merge(loans ,how='left', on="uid")
user_info = users_orders_loans.merge(clicks ,how='left', on="uid")

In [75]:
list(user_info)

['uid',
 'age',
 'sex',
 'active_date',
 'limit',
 '8_comsume_count',
 '9_comsume_count',
 '10_comsume_count',
 '11_comsume_count',
 '8_consume_amount',
 '9_consume_amount',
 '10_consume_amount',
 '11_consume_amount',
 '8_loan_amount',
 '9_loan_amount',
 '10_loan_amount',
 '11_loan_amount',
 '8_loan_count',
 '9_loan_count',
 '10_loan_count',
 '11_loan_count',
 '8_click_count',
 '9_click_count',
 '10_click_count',
 '11_click_count']

In [71]:
user_info.to_csv(OUTPUT_PATH +"user_info.csv", index=False)

In [74]:
user_info = pd.read_csv(OUTPUT_PATH + 'user_info.csv')

In [77]:
for c in user_info.columns:
     user_info[c] = user_info[c].fillna(0)

In [78]:
user_info

,uid,age,sex,active_date,limit,8_comsume_count,9_comsume_count,10_comsume_count,11_comsume_count,8_consume_amount,...,10_loan_amount,11_loan_amount,8_loan_count,9_loan_count,10_loan_count,11_loan_count,8_click_count,9_click_count,10_click_count,11_click_count
0,26308,30,1,2016-02-16,15001.000001,1.0,0.0,2.0,0.0,699.000000,...,16508.000001,7005.000000,2.0,2.0,8.0,5.0,55.0,32.0,78.0,48.0
1,78209,40,1,2016-02-21,5001.000000,38.0,29.0,11.0,8.0,8391.100000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,51930,35,1,2016-04-19,25000.999999,2.0,0.0,1.0,0.0,788.000000,...,0.000000,0.000000,0.0,1.0,0.0,0.0,16.0,5.0,9.0,5.0
3,10113,25,1,2016-03-12,25000.999999,23.0,11.0,0.0,0.0,2228.800000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,47.0,74.0,25.0,8.0
4,17067,35,1,2016-02-16,15001.000001,51.0,47.0,36.0,14.0,19193.299999,...,0.000000,0.000000,0.0,0.0,0.0,0.0,11.0,19.0,10.0,22.0
5,46744,35,1,2015-12-17,15001.000001,2.0,1.0,3.0,3.0,148.500000,...,16005.000000,0.000000,1.0,0.0,5.0,0.0,0.0,4.0,0.0,2.0
6,31747,30,2,2016-02-13,25000.999999,0.0,0.0,5.0,0.0,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,4.0,7.0,3.0,9.0
7,48366,30,2,2016-01-28,15001.000001,5.0,10.0,40.0,44.0,501.000000,...,0.000000,0.000000,1.0,1.0,0.0,0.0,7.0,1.0,0.0,0.0
8,49725,35,1,2016-01-28,5001.000000,1.0,0.0,8.0,2.0,19.900000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,31.0,36.0,46.0,31.0
9,31333,35,1,2016-05-17,25000.999999,8.0,5.0,1.0,2.0,618.700000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,87746,30,1,2016-05-06,15001.000001,2.0,0.0,0.0,5.0,2398.000000,...,0.000000,16000.999999,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0
11,51229,35,1,2016-05-25,10001.000000,19.0,23.0,39.0,34.0,4505.800000,...,2001.000000,501.000000,0.0,1.0,1.0,1.0,26.0,64.0,70.0,66.0
12,18211,35,2,2016-03-10,5001.000000,15.0,10.0,22.0,4.0,1511.500000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,5.0,11.0,7.0,4.0
13,21994,30,1,2016-01-06,10001.000000,20.0,5.0,1.0,14.0,1653.400000,...,7005.000000,9906.000000,3.0,5.0,5.0,6.0,10.0,13.0,17.0,12.0
14,61139,35,1,2016-04-26,25000.999999,11.0,3.0,9.0,1.0,2342.400000,...,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
15,2967,25,1,2016-01-18,25000.999999,33.0,5.0,5.0,4.0,12695.300000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,29.0,30.0,39.0,341.0
16,47349,40,1,2016-01-28,25000.999999,49.0,21.0,11.0,8.0,3577.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,194.0,68.0,66.0,57.0
17,44467,35,2,2016-03-24,5001.000000,1.0,6.0,28.0,0.0,11.300000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,20195,25,1,2016-06-21,10001.000000,3.0,1.0,2.0,9.0,292.000000,...,10001.000000,10001.000000,0.0,2.0,1.0,1.0,0.0,7.0,2.0,5.0
19,3113,30,2,2015-12-24,15001.000001,12.0,1.0,53.0,8.0,1612.850000,...,6001.000000,26001.000000,0.0,0.0,1.0,1.0,4.0,2.0,3.0,0.0
20,72060,25,1,2016-05-03,20000.999999,0.0,0.0,9.0,0.0,0.000000,...,20000.999999,2001.000000,1.0,0.0,1.0,1.0,32.0,37.0,41.0,22.0
21,9329,40,1,2016-03-25,5001.000000,48.0,45.0,37.0,30.0,3126.410000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0
22,73019,25,2,2016-06-17,25000.999999,12.0,24.0,19.0,27.0,3607.900000,...,30060.000000,1503.000000,1.0,30.0,60.0,3.0,9.0,29.0,52.0,30.0
23,56754,30,1,2016-06-17,25000.999999,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,57116,40,2,2016-04-06,25000.999999,12.0,5.0,9.0,16.0,849.300000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,42194,30,1,2016-05-07,25000.999999,4.0,1.0,1.0,0.0,1843.000000,...,0.000000,1001.000000,1.0,0.0,0.0,1.0,85.0,26.0,32.0,60.0
26,90012,25,1,2016-02-13,15001.000001,13.0,15.0,2.0,8.0,365.500000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,16.0,21.0,6.0,13.0
27,55859,30,1,2016-06-28,25000.999999,7.0,5.0,5.0,10.0,6598.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,29.0,13.0,17.0,31.0
28,27555,30,1,2016-05-26,25000.999999,17.0,15.0,24.0,10.0,2575.200000,...,15001.000001,20003.000001,3.0,5.0,1.0,3.0,0.0,0.0,0.0,0.0
29,24650,30,1,2016-04-24,25000.999999,6.0,2.0,12.0,3.0,2985.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,67.0,70.0,82.0,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90963,22661,25,1,2016-03-23,5001.000000,11.0,16.0,20.0,12.0,586.900000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,37.0,63.0,178.0,202.0
90964,51731,30,1,2016-03-29,15001.000001,5.0,1.0,1.0,1.0,163.800000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,38.0,49.0,34.0,23.0
90965,67400,25,1,2016-05-16,15001.000001,45.0,1.0,0.0,1.0,1577.300000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,22.0,33.0,16.0,2.0
90966,16751,25,1,2016-02-03,15001.000001,13.0,1.0,7.0,13.0,4189.200000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,52.0,54.0,45.0,31.0
90967,66944,35,1,2016-04-20,5001.000000,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,22.0,13.0,3.0,36.0
90968,87729,50,1,2016-04-06,10001.000000,5.0,9.0,0.0,5.0,11360.000001,...,13002.000000,3201.000000,4.0,7.0,2.0,1.0,12.0,3.0,6.0,1.0
90969,40272,35,2,2016-05-24,15001.000001,8.0,3.0,5.0,37.0,756.600000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90970,61032,25,1,2016-02-16,10001.000000,1.0,2.0,78.0,8.0,19.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,18.0,15.0,18.0,0.0
90971,42029,30,1,2016-05-15,25000.999999,8.0,8.0,31.0,3.0,1460.000000,...,10001.000000,0.000000,0.0,0.0,1.0,0.0,0.0,1.0,5.0,8.0
90972,44040,25,2,2015-12-20,25000.999999,57.0,12.0,17.0,19.0,14461.420000,...,8001.000001,0.000000,0.0,0.0,1.0,0.0,85.0,21.0,54.0,48.0
90973,25140,30,1,2015-12-03,10001.000000,27.0,27.0,64.0,25.0,1128.600000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,16.0,6.0,29.0,23.0
90974,36373,30,1,2016-05-24,25000.999999,44.0,39.0,83.0,12.0,6806.200000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,10.0,0.0,11.0
90975,90149,35,2,2016-05-31,25000.999999,6.0,18.0,13.0,14.0,194.700000,...,0.000000,0.000000,0.0,2.0,0.0,0.0,3.0,8.0,3.0,5.0
90976,30256,35,1,2016-03-29,5001.000000,4.0,2.0,5.0,13.0,4196.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90977,12831,30,1,2016-03-30,15001.000001,21.0,11.0,3.0,1.0,3926.800000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90978,66219,30,1,2015-12-30,15001.000001,36.0,9.0,22.0,39.0,2892.520000,...,0.000000,0.000000,0.0,1.0,0.0,0.0,16.0,90.0,20.0,76.0
90979,950,30,1,2016-05-08,25000.999999,2.0,1.0,0.0,0.0,848.000000,...,0.000000,7001.000000,0.0,0.0,0.0,1.0,10.0,9.0,11.0,4.0
90980,33477,35,1,2016-02-08,15001.000001,4.0,3.0,2.0,2.0,266.700000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90981,70110,35,2,2016-06-21,25000.999999,9.0,31.0,45.0,19.0,2282.600000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,1.0,5.0,0.0,5.0
90982,31590,30,1,2016-06-07,5001.000000,6.0,10.0,0.0,0.0,744.000000,...,5001.000000,0.000000,2.0,4.0,1.0,0.0,15.0,16.0,10.0,23.0
90983,77161,30,2,2016-01-11,25000.999999,6.0,29.0,15.0,7.0,481.590000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90984,17107,30,1,2016-02-13,15001.000001,22.0,3.0,38.0,6.0,4122.600000,...,15003.000000,9001.000000,1.0,1.0,3.0,1.0,25.0,64.0,84.0,70.0
90985,40850,40,2,2016-01-13,25000.999999,17.0,2.0,14.0,10.0,3369.900000,...,20000.999999,0.000000,0.0,0.0,1.0,0.0,35.0,24.0,26.0,35.0
90986,28075,30,1,2016-04-22,15001.000001,92.0,8.0,7.0,6.0,4759.800000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,23.0,31.0,27.0,10.0
90987,11272,25,1,2016-02-17,15001.000001,4.0,13.0,9.0,20.0,2375.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,5.0,5.0,12.0,6.0
90988,75642,25,1,2016-01-10,20000.999999,33.0,28.0,15.0,11.0,1159.800000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,16.0,91.0,77.0,76.0
90989,14712,25,1,2016-01-10,20000.999999,59.0,15.0,0.0,8.0,2486.200000,...,501.000000,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,78.0,6.0
90990,16152,30,1,2016-02-10,15001.000001,26.0,5.0,18.0,7.0,10324.400000,...,15002.000001,10001.000000,1.0,0.0,2.0,1.0,37.0,32.0,30.0,18.0
90991,60715,30,2,2016-03-14,10001.000000,1.0,1.0,1.0,6.0,338.000000,...,0.000000,0.000000,1.0,1.0,0.0,0.0,15.0,18.0,7.0,23.0
90992,10005,30,1,2015-12-17,10001.000000,6.0,8.0,17.0,4.0,136.640000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,8.0,15.0,22.0,20.0

In [79]:
CC = '{}_comsume_count'

In [80]:
cc_cur = CC.format(6)

In [81]:
cc_cur

'6_comsume_count'

In [82]:
month = 8
CC.format(month - 1)

'7_comsume_count'

In [83]:
INPUT_PATH = '../input/'
OUTPUT_PATH = '../output/'
CC = '{}_comsume_count'
CM = '{}_consume_amount'
LM = '{}_loan_amount'
LC = '{}_loan_count'
CKC = '{}_click_count'
CUM = '_cum'

In [115]:
def cummulate_data_by_month(df, month):
    cc_bef = CC.format(month - 1) + CUM
    cm_bef = CM.format(month - 1) + CUM
    lm_bef = LM.format(month - 1) + CUM
    lc_bef = LC.format(month - 1) + CUM
    ckc_bef = CKC.format(month - 1) + CUM

    cc_cur = CC.format(month - 1)
    cm_cur = CM.format(month - 1)
    lm_cur = LM.format(month - 1)
    lc_cur = LC.format(month - 1)
    ckc_cur = CKC.format(month - 1)

    cc_cum = CC.format(month) + CUM
    cm_cum = CM.format(month) + CUM
    lm_cum = LM.format(month) + CUM
    lc_cum = LC.format(month) + CUM
    ckc_cum = CKC.format(month) + CUM

    if month == 8:
        df[cc_cum] = 0
        df[cm_cum] = 0
        df[lm_cum] = 0
        df[lc_cum] = 0
        df[ckc_cum] = 0
    else:
        df[cc_cum] = df[cc_cur] + df[cc_bef]
        df[cm_cum] = df[cm_cur] + df[cm_bef]
        df[lm_cum] = df[lm_cur] + df[lm_bef]
        df[lc_cum] = df[lc_cur] + df[lc_bef]
        df[ckc_cum] = df[ckc_cur] + df[ckc_bef]

    return df

In [116]:
df = cummulate_data_by_month(user_info,8)

In [117]:
def get_column_by_month(df, month):
	return df.columns[df.columns.str.startswith(month)]

In [118]:
cu8 = get_column_by_month(df,'{}'.format(8))

In [119]:
cu8

Index([u'8_comsume_count', u'8_consume_amount', u'8_loan_amount',
       u'8_loan_count', u'8_click_count', u'8_comsume_count_cum',
       u'8_consume_amount_cum', u'8_loan_amount_cum', u'8_loan_count_cum',
       u'8_click_count_cum'],
      dtype='object')

In [101]:
df.columns.str.startswith('8')

array([False, False, False, False, False,  True, False, False, False,
        True, False, False, False,  True, False, False, False,  True,
       False, False, False,  True, False, False, False,  True,  True,
        True,  True,  True], dtype=bool)

In [120]:
df[cu8].head()

,8_comsume_count,8_consume_amount,8_loan_amount,8_loan_count,8_click_count,8_comsume_count_cum,8_consume_amount_cum,8_loan_amount_cum,8_loan_count_cum,8_click_count_cum
0,1.0,699.000000,2502.0,2.0,55.0,0,0,0,0,0
1,38.0,8391.100000,0.0,0.0,0.0,0,0,0,0,0
2,2.0,788.000000,0.0,0.0,16.0,0,0,0,0,0
3,23.0,2228.800000,0.0,0.0,47.0,0,0,0,0,0
4,51.0,19193.299999,0.0,0.0,11.0,0,0,0,0,0

In [121]:
df9 = cummulate_data_by_month(df,9)

In [122]:
cu9 = get_column_by_month(df,'9')

In [123]:
df[cu9].head()

,9_comsume_count,9_consume_amount,9_loan_amount,9_loan_count,9_click_count,9_comsume_count_cum,9_consume_amount_cum,9_loan_amount_cum,9_loan_count_cum,9_click_count_cum
0,0.0,0.00,3502.0,2.0,32.0,1.0,699.000000,2502.0,2.0,55.0
1,29.0,1612.30,0.0,0.0,0.0,38.0,8391.100000,0.0,0.0,0.0
2,0.0,0.00,30001.0,1.0,5.0,2.0,788.000000,0.0,0.0,16.0
3,11.0,512.20,0.0,0.0,74.0,23.0,2228.800000,0.0,0.0,47.0
4,47.0,9298.79,0.0,0.0,19.0,51.0,19193.299999,0.0,0.0,11.0

In [124]:
df10 = cummulate_data_by_month(df9,10)

In [125]:
cu10 = get_column_by_month(df10,'10')

In [126]:
df[cu10].head()

,10_comsume_count,10_consume_amount,10_loan_amount,10_loan_count,10_click_count,10_comsume_count_cum,10_consume_amount_cum,10_loan_amount_cum,10_loan_count_cum,10_click_count_cum
0,2.0,581.0,16508.000001,8.0,78.0,1.0,699.000000,6004.0,4.0,87.0
1,11.0,1772.6,0.000000,0.0,0.0,67.0,10003.399999,0.0,0.0,0.0
2,1.0,39.9,0.000000,0.0,9.0,2.0,788.000000,30001.0,1.0,21.0
3,0.0,0.0,0.000000,0.0,25.0,34.0,2741.000000,0.0,0.0,121.0
4,36.0,3790.8,0.000000,0.0,10.0,98.0,28492.089999,0.0,0.0,30.0

In [127]:
for month in [8,9,10,11,12]:
    user_info = cummulate_data_by_month(user_info, month)

In [129]:
list(user_info)

['uid',
 'age',
 'sex',
 'active_date',
 'limit',
 '8_comsume_count',
 '9_comsume_count',
 '10_comsume_count',
 '11_comsume_count',
 '8_consume_amount',
 '9_consume_amount',
 '10_consume_amount',
 '11_consume_amount',
 '8_loan_amount',
 '9_loan_amount',
 '10_loan_amount',
 '11_loan_amount',
 '8_loan_count',
 '9_loan_count',
 '10_loan_count',
 '11_loan_count',
 '8_click_count',
 '9_click_count',
 '10_click_count',
 '11_click_count',
 '8_comsume_count_cum',
 '8_consume_amount_cum',
 '8_loan_amount_cum',
 '8_loan_count_cum',
 '8_click_count_cum',
 '9_comsume_count_cum',
 '9_consume_amount_cum',
 '9_loan_amount_cum',
 '9_loan_count_cum',
 '9_click_count_cum',
 '7_comsume_count_cum',
 '7_consume_amount_cum',
 '7_loan_amount_cum',
 '7_loan_count_cum',
 '7_click_count_cum',
 '10_comsume_count_cum',
 '10_consume_amount_cum',
 '10_loan_amount_cum',
 '10_loan_count_cum',
 '10_click_count_cum',
 '11_comsume_count_cum',
 '11_consume_amount_cum',
 '11_loan_amount_cum',
 '11_loan_count_cum',
 '11_click_count_cum',
 '12_comsume_count_cum',
 '12_consume_amount_cum',
 '12_loan_amount_cum',
 '12_loan_count_cum',
 '12_click_count_cum']

In [130]:
[1]+[2]

[1, 2]

In [140]:
basic = ['uid', 'age', 'sex', 'active_date', 'limit']



def get_column_by_month(df, month):
    return list(df.columns[df.columns.str.startswith(month)])


def get_df_by_month(df, month):
    cols = get_column_by_month(df, month)
    basic = ['uid', 'age', 'sex', 'active_date', 'limit']
    all_cols = basic +cols 
    return df[all_cols]

In [143]:
df8 = get_df_by_month(user_info, '8')
df9 = get_df_by_month(user_info, '9')
df10 = get_df_by_month(user_info, '10')
df11 = get_df_by_month(user_info, '11')

In [147]:
TARGET = 'target'

In [148]:
def add_target_by_month(df, month, user_info):
    lm_next = LM.format(month + 1)
    df[TARGET] = user_info[lm_next]
    return df

In [149]:
df8 = get_df_by_month(user_info, '8')
df8 = add_target_by_month(df8, 8, user_info)
df9 = get_df_by_month(user_info, '9')
df9 = add_target_by_month(df9, 9, user_info)
df10 = get_df_by_month(user_info, '10')
df10 = add_target_by_month(df10, 10, user_info)
df11 = get_df_by_month(user_info, '11')

/Library/Python/2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [151]:
df8.head()

,uid,age,sex,active_date,limit,8_comsume_count,8_consume_amount,8_loan_amount,8_loan_count,8_click_count,8_comsume_count_cum,8_consume_amount_cum,8_loan_amount_cum,8_loan_count_cum,8_click_count_cum,target
0,26308,30,1,2016-02-16,15001.000001,1.0,699.000000,2502.0,2.0,55.0,0,0,0,0,0,3502.0
1,78209,40,1,2016-02-21,5001.000000,38.0,8391.100000,0.0,0.0,0.0,0,0,0,0,0,0.0
2,51930,35,1,2016-04-19,25000.999999,2.0,788.000000,0.0,0.0,16.0,0,0,0,0,0,30001.0
3,10113,25,1,2016-03-12,25000.999999,23.0,2228.800000,0.0,0.0,47.0,0,0,0,0,0,0.0
4,17067,35,1,2016-02-16,15001.000001,51.0,19193.299999,0.0,0.0,11.0,0,0,0,0,0,0.0

In [153]:
df9.head()

,uid,age,sex,active_date,limit,9_comsume_count,9_consume_amount,9_loan_amount,9_loan_count,9_click_count,9_comsume_count_cum,9_consume_amount_cum,9_loan_amount_cum,9_loan_count_cum,9_click_count_cum,target
0,26308,30,1,2016-02-16,15001.000001,0.0,0.00,3502.0,2.0,32.0,1.0,699.000000,2502.0,2.0,55.0,16508.000001
1,78209,40,1,2016-02-21,5001.000000,29.0,1612.30,0.0,0.0,0.0,38.0,8391.100000,0.0,0.0,0.0,0.000000
2,51930,35,1,2016-04-19,25000.999999,0.0,0.00,30001.0,1.0,5.0,2.0,788.000000,0.0,0.0,16.0,0.000000
3,10113,25,1,2016-03-12,25000.999999,11.0,512.20,0.0,0.0,74.0,23.0,2228.800000,0.0,0.0,47.0,0.000000
4,17067,35,1,2016-02-16,15001.000001,47.0,9298.79,0.0,0.0,19.0,51.0,19193.299999,0.0,0.0,11.0,0.000000

In [157]:
user_info[get_column_by_month(user_info,'9')+basic].head()

,9_comsume_count,9_consume_amount,9_loan_amount,9_loan_count,9_click_count,9_comsume_count_cum,9_consume_amount_cum,9_loan_amount_cum,9_loan_count_cum,9_click_count_cum,uid,age,sex,active_date,limit
0,0.0,0.00,3502.0,2.0,32.0,1.0,699.000000,2502.0,2.0,55.0,26308,30,1,2016-02-16,15001.000001
1,29.0,1612.30,0.0,0.0,0.0,38.0,8391.100000,0.0,0.0,0.0,78209,40,1,2016-02-21,5001.000000
2,0.0,0.00,30001.0,1.0,5.0,2.0,788.000000,0.0,0.0,16.0,51930,35,1,2016-04-19,25000.999999
3,11.0,512.20,0.0,0.0,74.0,23.0,2228.800000,0.0,0.0,47.0,10113,25,1,2016-03-12,25000.999999
4,47.0,9298.79,0.0,0.0,19.0,51.0,19193.299999,0.0,0.0,11.0,17067,35,1,2016-02-16,15001.000001

In [166]:
frames = [df8, df9, df10]
result = pd.concat(frames, axis=0)

In [168]:
list(df8)

['uid',
 'age',
 'sex',
 'active_date',
 'limit',
 '8_comsume_count',
 '8_consume_amount',
 '8_loan_amount',
 '8_loan_count',
 '8_click_count',
 '8_comsume_count_cum',
 '8_consume_amount_cum',
 '8_loan_amount_cum',
 '8_loan_count_cum',
 '8_click_count_cum',
 'target']

In [171]:
import re

In [177]:
if re.match(r"\d{1}_(.+)", '8_test_asdf'):
    print(col_name[1:])
else:
    print('dd')

NameError: name 'col_name' is not defined

In [215]:
def remove_month_rename(col_name):
    if re.match(r"(\d{1,2}_)(.+)", col_name):
        m = re.search(r"(\d{1,2}_)(.+)", col_name)
        return m.group(2)
    else:
        return col_name

In [216]:
    df8 = get_df_by_month(user_info, '8')
    df8 = add_target_by_month(df8, 8, user_info)
    df8 = df8.rename(columns=remove_month_rename)
    df9 = get_df_by_month(user_info, '9')
    df9 = add_target_by_month(df9, 9, user_info)
    df9 = df9.rename(columns=remove_month_rename)
    df10 = get_df_by_month(user_info, '10')
    df10 = add_target_by_month(df10, 10, user_info)
    df10 = df10.rename(columns=remove_month_rename)
    df11 = get_df_by_month(user_info, '11')
    df11 = df11.rename(columns=remove_month_rename)

    frames = [df8, df9, df10]
    result = pd.concat(frames)

/Library/Python/2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [214]:
m.group(2)

'adf_asdf'

In [218]:
result.head()

,uid,age,sex,active_date,limit,comsume_count,consume_amount,loan_amount,loan_count,click_count,comsume_count_cum,consume_amount_cum,loan_amount_cum,loan_count_cum,click_count_cum,target
0,26308,30,1,2016-02-16,15001.000001,1.0,699.000000,2502.0,2.0,55.0,0.0,0.0,0.0,0.0,0.0,3502.0
1,78209,40,1,2016-02-21,5001.000000,38.0,8391.100000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,51930,35,1,2016-04-19,25000.999999,2.0,788.000000,0.0,0.0,16.0,0.0,0.0,0.0,0.0,0.0,30001.0
3,10113,25,1,2016-03-12,25000.999999,23.0,2228.800000,0.0,0.0,47.0,0.0,0.0,0.0,0.0,0.0,0.0
4,17067,35,1,2016-02-16,15001.000001,51.0,19193.299999,0.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0

In [220]:
df11.head()

,uid,age,sex,active_date,limit,comsume_count,consume_amount,loan_amount,loan_count,click_count,comsume_count_cum,consume_amount_cum,loan_amount_cum,loan_count_cum,click_count_cum
0,26308,30,1,2016-02-16,15001.000001,0.0,0.0,7005.0,5.0,48.0,3.0,1280.000000,22512.0,12.0,165.0
1,78209,40,1,2016-02-21,5001.000000,8.0,648.6,0.0,0.0,0.0,78.0,11775.999999,0.0,0.0,0.0
2,51930,35,1,2016-04-19,25000.999999,0.0,0.0,0.0,0.0,5.0,3.0,827.900000,30001.0,1.0,30.0
3,10113,25,1,2016-03-12,25000.999999,0.0,0.0,0.0,0.0,8.0,34.0,2741.000000,0.0,0.0,146.0
4,17067,35,1,2016-02-16,15001.000001,14.0,1357.6,0.0,0.0,22.0,134.0,32282.889999,0.0,0.0,40.0